.patients-page {
  padding: 70px;
}

.patients-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-wrapper {
  position: relative;
  flex-grow: 1; /* Input takes up the remaining space */
}

input[type="text"] {
  padding: 10px 35px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 360px; /* Full width based on the remaining available space */
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.filter-icon, .add-icon {
  cursor: pointer;
  font-size: 20px;
}

.filter-icon {
  margin-right: 10px; /* Adjust margin between filter and + icon */
}

/* Scrollable container for table on smaller devices */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.patients-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #888;
}

.patients-table th, .patients-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid black;
}

.active-signal-row-btn td {
  border-bottom: none;
}

.patients-table th {
  background-color: #f4f4f4;
}

.view-arrow {
  cursor: pointer;
  text-align: center;
}

.icon {
  font-size: 18px;
  color: #333;
}

/* Active signal button */
.active-signal-row {
  background-color: #d9534f;
  color: white;
  cursor: pointer;
}

.active-signal-row td {
  text-align: center;
}

.active-signal-row .active-arrow .icon {
  color: white;
  vertical-align: middle;
  padding-left: 20px;
}

.active-signal {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  border-radius: 12px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.full-width {
  width: 100%;
}

.center-text {
  flex-grow: 1;
  text-align: center;
}

/* Vertical colored lines */
.vertical-line {
  width: 4px;
  height: 20px;
  border-radius: 2px;
}

.normal-line {
  background-color: #4CAF50; /* Green for inactive users */
}

.active-signal-line {
  background-color: #d9534f; /* Red for active signal users */
}

.vertical-line-cell {
  width: 10px;
  padding: 0;
}

/* Modal Background Styling */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px; /* Adjust modal width for larger screens */
}

/* Responsive Styles */
@media (max-width: 768px) {

  .patients-page {
    padding: 20px;
  }

  input[type="text"] {
    width: 100%; /* Full width for smaller devices */
  }

  .filter-icon, .add-icon {
    font-size: 18px;
  }

  .patients-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  /* Make modal full width on mobile */
  .modal {
    max-width: 100%;
    padding: 15px;
  }
}
